.form-container {
    height: 95vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.create-account-button {
    margin-top: 25px;
}